#flickr-coverflow {
	border:solid 1px magenta;
}

.flickrCoverflow-image,
.flickrCoverflow-img {
	border:solid 1px yellow;
}

.flickrCoverflow-previous,
.flickrCoverflow-next {
	background-color:green;
	opacity:.5;
}

.flickrCoverflow-previous{
	background-color:red;
}

.flickrCoverflow-next {
	background-color:green;
}
