body{padding: 0;margin: 0;}

.flickrCoverflow {
	height: 22vh;
	margin-bottom: 11vh;

	/* DEBUG */
	border: 1px dashed yellow;
	/**/
}

.flickrCoverflow-inner-frame {
	text-shadow: 0 0 2px white;
}

.flickrCoverflow-image {
	border-radius: 3px;
	box-shadow: 0 -5px 10px rgba(0,0,0,0.35);
}

.flickrCoverflow--visible[data-flickrCoverflow-index='0'],
.flickrCoverflow--visible[data-flickrCoverflow-index='1'],
.flickrCoverflow--visible[data-flickrCoverflow-index='2']{
	cursor: w-resize;
}

.flickrCoverflow--visible[data-flickrCoverflow-index='4'],
.flickrCoverflow--visible[data-flickrCoverflow-index='5'],
.flickrCoverflow--visible[data-flickrCoverflow-index='6']{
	cursor: e-resize;
}

.flickrCoverflow--visible[data-flickrCoverflow-index='3'] .flickrCoverflow-image{
	cursor:zoom-in;
}

/* DEBUG
.flickrCoverflow-frame {
	background-color: rgba(255,255,0,0.25);
	box-shadow: inset 0 0 0 1px magenta;
}
/**/